fastapi
uvicorn
openai
python-multipart

langchain-core
langchain-community
langchain-openai
langchain-text-splitters
langchain-chroma

chromadb
python-dotenv
tiktoken

Pillow
python-jose[cryptography]
requests
redis